# macOS system files
.DS_Store

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE configs
.vscode/
*.swp

# Config files
scan-to-print/config.txt
config.txt

# Build files

build/
dist/
*.spec